<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>NETFLIX</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">NETFLIX</h1>
        <a href="/netflix/add" class="btn btn-success">Add Movies</a>
    
      
    
       <% for(const movie of movies){%>
    
            <div class="">
                <div class="">
                    <h4 class="">Title:  <%= movie.title %></h4>
                    <div class="">
                        <!-- <video src=" <%= movie.link %>" poster="pics.png"  ></video> -->
                        <!-- <iframe width="1020" height="815" src= <%= movie.link %> ></iframe> -->
                        <iframe width="560" height="315" src="<%= movie.link %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="">Rate:  <%= movie.rate %></div>
                    <div class="">Date: <%= movie.createdAt.toLocaleDateString() %></div>
                    <div class=""><%= movie.moviesDetail %></div>
                    <a href="netflix/<%= movie.slug %>" class="">Read More</a>
                    <form action="/netflix/<%= movie.id %>?_method=DELETE" method="POST" class="">
                        <button type="submit" class="" >DELETE</button>
                    </form>
                </div>
            </div>
    
        <%}%> 
    
    
      </div>
</body>
</html>













































<!-- const express = require('express')
const Movies = require('./../models/movie')
const router = express.Router()

router.get('/add', (req,res) => {
   res.render('movie/add', {movies: new Movies() })
})

router.get('/edit/:id', async (req,res) => {
   const movie = await Movies.findById(req.params.id)
   res.render('movie/edit', {movie: movie })
})

router.get('/:slug', async (req,res) => {
   const movie = await Movies.findOne({ slug: req.params.slug })
   if (movie == null) res.redirect('/')
   res.render('movie/show', { movie: movie})
})


router.post('/', async (req,res, next) => {
   req.movie = new Movies()
   next()
}, saveMoviesAndRedirect('add'))

router.put('/:id', (req,res) => {

})

router.delete('/:id', async (req,res) => {
   await Movies.findByIdAndDelete(req.params.id)
   res.redirect('/')
})


function saveMoviesAndRedirect(path){
   return async (req,res) => {
      let movie = req.movies
         movie.title = req.body.title
         movie.link =req.body.link
         movie.rate = req.body.rate
         movie.moviesDetail = req.body.moviesDetail
      try{
         movies = await movies.save()
         res.redirect(`/netflix/${movies.slug}`)
      }catch(e) {
         res.render(`movie/${path}`, { movies: movies})
      }

   }
          
}

module.exports = router -->